body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/vaporwaveMountains_starry.png);
    background-color: #101400;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body, html {
    overflow-x: hidden;
}

/*NAVBAR*/
#navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#navBar a {
    text-decoration: none;
    /*font-family: 'Rajdhani', sans-serif;*/
    font-family: 'Silkscreen', cursive;
    background-color: #101400;
    color: #ECE0E7;
    font-size: 25pt;
    flex-grow: 1;
    padding: 25px 50px;
    text-align: center;
    transition: 0.7s;
    cursor: pointer;
}

#navBar a:hover {
    background-color: #ECE0E7;
    color: #101400;
}

/*NAVBAR LINKS*/
#navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

/*CONTENT CONTAINERS*/

/*HEADER BOX*/
.contentTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 300px;
    background-color: #ff3379;
    border-radius: 5px;
    border: 3px solid #101400;
    overflow-x: hidden;
}

/*INTRO INFORMATION PARENT*/
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 700px;
    background-color: #46144b;
    background-image: url(../imgs/grid2.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    border: 3px solid #101400;
    overflow-x: hidden;
}

/*WORK DISAMBIGUATION PARENT*/
#content2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 1700px;
    /*background-color: #ED6C68;*/
    background-color: #46144b;
    background-image: url(../imgs/grid2.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    /*border: 3px solid #101400;*/
    overflow-x: hidden;
}

/*INTRO INFORMATION*/
#intro-Section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 500px;
    /*background-color: #CF7CA6;*/
    background-image: url(../imgs/portfolioWindowBorder_wide.png);
    background-position: center;
    background-size: auto;
    /*border: 2px solid #101400;*/
    border-radius: 10px;
    transition: 0.6s;
}

#intro-Section:hover {
    box-shadow: 25px 25px 3px #ff3379;
}

/*WEB DESIGN BOX*/
.contentSection1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 500px;
    background-image: url(../imgs/portfolioWindowBorder_wide_pink.png);
    background-position: center;
    background-size: auto;
    border-radius: 10px;
    transition: 0.6s;
}

.contentSection1:hover {
    box-shadow: 25px 25px 3px #ff3379;
}

/*WORK DISAMBIGUATION*/
#workDisambig {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    width: 100%;
    height: 1100px;
}

/*LARGE BOX CONTENT*/
.boxContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 95%;
    transition: 0.6s;
}

/*VIDEO BOX*/
#videoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 420px;
    background-image: url(../imgs/portfolioWindowBorder_blue.png);
    background-size: cover;
    /*background-color: #ECE0E7;
    /*box-shadow: 10px 10px 5px #101400;*/
    border-radius: 10px;
    transition: 0.6s;
}

#videoBox:hover {
    box-shadow: 25px 25px 3px #ff3379;
    /*CHANGE BGROUND TO GIF OF VIDEO REEL WHEN SHORT FILM IS DONE*/
}

/*SMALL BOX CONTENT*/
.boxContent2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 95%;
    transition: 0.6s;
}

/*INTRO DESCRIPTION AND BUTTON*/
.boxContent-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 95%;
    border-radius: 10px;
    transition: 0.6s;
}

/*BOX #3*/
#box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 420px;
    background-image: url(../imgs/portfolioWindowBorder_yellow.png);
    background-size: cover;
    /*background-color: #CF7CA6;
    /*box-shadow: 10px 10px 5px #101400;*/
    border-radius: 10px;
    transition: 0.6s;
}

#box3:hover {
    box-shadow: 25px 25px 3px #ff3379;
}

/*CONTACT INFO*/
#contactBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
    height: 430px;
    background-image: url(../imgs/windowBground.png);
    background-size: cover;
    border-radius: 10px;
    transition: 0.6s;
    overflow: hidden;
}

#contactBox:hover {
    box-shadow: 25px 25px 3px #ff3379;
}

/*BUTTON CLASS*/
.workButton {
    color: #ECE0E7;
    background-color: #101400;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 10px 15px;
    font-size: 35px;
    border-radius: 3px;
    transition: 0.5s;
}

.workButton:hover {
    color: #101400;
    background-color: #ECE0E7;
    cursor: pointer;
}

#webDesignBox .workButton:hover {
    visibility: visible;
}

/*SPACERS*/
.spacerVertical {
    width: 100%;
    height: 100px;
}

.spacerLarge {
    width: 100%;
    height: 500px;
}

.spacerMedium {
    width: 100%;
    height: 300px;
}

/*HEADSHOT*/
.contentImg1 {
    box-shadow: 5px 5px 5px #101400;
    border-radius: 10px;
}

/*TEXT*/
h1 {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    font-size: 80pt;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #ECE0E7;
}

h2 { 
    font-size: 40pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}

.h2White {
    color: #ECE0E7; 
    font-size: 40pt;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}

p {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: #101400;
    font-size: 18pt;
    width: 700px;
}

.pBlack {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: #101400;
    font-size: 18pt;
    width: 700px;
}

/*SCROLLING TEXT PARENT*/
.scrollBar {
    width: 100%;
    padding: 25px 0;
    
}

/*SCROLLING TEXT*/
.scrollContent {
    display: block;
    width: 100%;
    font-family: 'Silkscreen', cursive;
    font-size: 17pt;
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

@keyframes move {
  to { transform: translateX(-100%); }
}

/*H1 HEADER PARENT*/
.titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    height: 150px;
    border-bottom: 2px solid #101400;
}

/*H1 HEADER TEXT*/
.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150px;
    animation: titlemove 1.5s;
}

/*TEXT ANIMATION*/
@keyframes titlemove {
    0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media {
    .title-animation {
        animation: titlemove 1s 1;
    }
}

/*ICONS*/
#icon-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100px;
}

.fa {
  padding: 20px 30px 20px 30px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5px;
}

.fa-linkedin {
  background: #101400;
  color: white;
  transition: 0.5s;
}

.fa-linkedin:hover {
    background: white;
    color: #101400;
    cursor: pointer;
}

iconify-icon {
  padding: 20px 30px 20px 30px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; 
  background: #101400;
  color: white;
  border-radius: 5px;
  transition: 0.5s;
}

iconify-icon:hover {
  background: white;
  color: #101400;
  cursor: pointer;
}

/*MAY NOT USE*/
.work-example-box #popup1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 600px;
    background-color: #a2253f;
    border-radius: 5px;
    border: 2px solid #101400;
}

/*MOBILE VERSION*/
@media screen and (max-width: 600px) {
    #navBar a {
        font-size: 15pt;
    }

    #content {
        width: 95%;
        height: 650px;
    }

    #intro-Section {
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        height: 500px;
    }

    .boxContent-head {
        height: 50%;
    }

    .contentImg1 {
        width: 45%;
    }

    #content2 {
        width: 95%;
        height: 2100px;
    }

    #workDisambig {
        height: 1500px;
    }

    #videoBox {
        width: 90%;
    }

    #box3 {
        width: 90%;
    }

    .boxContent2 {
        height: 85%;
        width: 95%;
    }

    #contactBox {
        width: 95%;
    }

    .workButton {
        font-size: 20pt;
    }

    .workButton:hover {
        color: #ECE0E7;
        background-color: #101400;
    }

    h1 {
        font-size: 40pt;
    }

    p {
        font-size: 12pt;
        width: 300px;
    }

    .pBlack {
        font-size: 12pt;
        width: 300px;
    }

    .scrollContent {
        font-size: 12pt;
    }

    .spacerVertical {
        height: 50px;
    }

    .spacerLarge {
        height: 350px;
    }

    iconify-icon {
        font-size: 20px;
    }

    .fa {
        font-size: 20pt;
    }
}